<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="WARN">
    <!--定义变量 -->
    <Properties>
        <Property name="app">${project.name}</Property>
        <Property name="log.path">./logs/${app}</Property>
        <Property name="log.pattern" value="[${app}] [%date] [%t] [%p] [%l] %m%n"/>
    </Properties>

    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="[${log.pattern}"/>
        </Console>

        <RollingFile name="all" fileName="${log.path}/all.log" immediateFlush="false" append="true"
                     filePattern="${log.path}/${date:yyyy-MM}/all-%d{yyyy-MM-dd}-%i.log.gz">
            <Filters>
                <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout pattern="[${log.pattern}"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>

        <RollingFile name="debug" fileName="${log.path}/debug.log" immediateFlush="false" append="true"
                     filePattern="${log.path}/${date:yyyy-MM}/debug-%d{yyyy-MM-dd}-%i.log.gz">
            <Filters>
                <ThresholdFilter level="info" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout pattern="[${log.pattern}"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>

        <RollingFile name="info" fileName="${log.path}/info.log" immediateFlush="false" append="true"
                     filePattern="${log.path}/${date:yyyy-MM}/info-%d{yyyy-MM-dd}-%i.log.gz">
            <Filters>
                <ThresholdFilter level="warn" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout pattern="[${log.pattern}"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>

        <RollingFile name="warn" fileName="${log.path}/warn.log" immediateFlush="false" append="true"
                     filePattern="${log.path}/${date:yyyy-MM}/warn-%d{yyyy-MM-dd}-%i.log.gz">
            <Filters>
                <ThresholdFilter level="error" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="warn" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout pattern="[${log.pattern}"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>

        <RollingFile name="error" fileName="${log.path}/error.log" immediateFlush="false" append="true"
                     filePattern="${log.path}/${date:yyyy-MM}/error-%d{yyyy-MM-dd}-%i.log.gz">
            <Filters>
                <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout pattern="[${log.pattern}"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>

        <Kafka name="kafka" topic="sync-logs-topic" ignoreExceptions="false">
            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <!-- 日志格式%m(message) logstash数据JSON格式处理 -->
            <PatternLayout pattern="%m%n" disableAnsi="false" noConsoleNoAnsi="false" />
            <!-- kafka 服务 -->
            <Property name="bootstrap.servers">127.0.0.1:9092</Property>
            <Property name="request.timeout.ms">5000</Property>
            <Property name="transaction.timeout.ms">5000</Property>
            <Property name="max.block.ms">3000</Property>
        </Kafka>

        <RollingFile name="kafkaLog" fileName="${log.path}/kafka.log"
                     filePattern="${log.path}/${date:yyyy-MM}/kafka-%d{yyyy-MM-dd}-%i.log.gz">
            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${log.pattern}"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>

        <Failover name="kafkaFailover" primary="kafka" retryIntervalSeconds="600">
            <Failovers>
                <AppenderRef ref="kafkaLog"/>
            </Failovers>
        </Failover>
    </Appenders>

    <Loggers>
        <!--<logger name="org.apache.kafka" level="INFO" />-->

        <AsyncRoot level="debug" includeLocation="true" additivity="false">
            <AppenderRef ref="console"/>
            <AppenderRef ref="all"/>
            <AppenderRef ref="debug"/>
            <AppenderRef ref="info"/>
            <AppenderRef ref="warn"/>
            <AppenderRef ref="error"/>
            <AppenderRef ref="kafkaFailover"/>
        </AsyncRoot>
    </Loggers>
</Configuration>
